<!-- index.html -->
{% extends "base.html" %}

{% block dropzoneCss %}
    {{ dropzone.load_css() }}
{% endblock %}

{% block content %}
    <div style="text-align:center; margin-top:30px">
        <img style="width:150px"src="/static/res/logo.png">
        <h1 class="title-text" style="margin-bottom:0px; margin-top:0px"> Fin edge detector</h1>
        <p class="body-text" style="margin-bottom:30px;">Calculate the edge of the rear fin of any cetacean quickly and easily.</p>
    </div>
    <div>
            {{ dropzone.create(action='/uploads') }}

        <div style="width:100%; text-align:center; margin-top:24px; margin-bottom:80px">
            <button id="getOutlineBtn" class="default-button gray-button" type="button"><a class ="default-btn-a" style="text-decoration:none; color:white; user-select: nonemig" href="/get_outline">Get outline </a></button>
            <button id="resetBtn" class="default-button gray-button" style="margin-left:20px" type="button"><a class ="default-btn-a" style="text-decoration:none; color:white; user-select: nonemig;">Reset Upload</a></button>
        </div>


    </div>

    <div style="background-color: #f9f9f9;">
        <h1 class="title-text" style="font-size:44px; padding-top:80px"> How to use Fin edge detector</h1>

        <div class="row" style="padding-bottom: 50px">
              <div class="column">
                    <img src="static/res/1.png" width="256px" height="256px"/>
                    <h2 class="title-text" style="font-size:28px">Select a file</h2>
                    <p class="body-text" style="font-size: 16px; margin-left:10%; margin-right:10%; line-height: 1.5em">
                        Firstly, you must upload the picture you want to evaluate on the webpage. To make so, you can drop the image in the area or press the upload button. You can upload only images which format is: jpeg, jpg or png.</p>
              </div>
              <div class="column">
                    <img src="static/res/2.png" width="256px" height="256px"/>
                    <h2 class="title-text" style="font-size:28px">Get the outline</h2>
                    <p class="body-text" style="font-size: 16px; margin-left:10%; margin-right:10%; line-height: 1.5em">
                        Then you just have to click on the get outline button, below your uploaded image and wait for the result. Once the result is computed you will be redirected to the result page where you will be able to see the output with
                            your original image.</p>
              </div>
              <div class="column">
                    <img src="static/res/3.png" width="256px" height="256px"/>
                    <h2 class="title-text" style="font-size:28px">Download the outline</h2>
                    <p class="body-text" style="font-size: 16px; margin-left:10%; margin-right:10%; line-height: 1.5em">
                        Thanks to our simple interface you can finally download the output of the process, clicking on the dedicated button. For a visual reference, on the result page you will see the chosen photo with the result of  the process.</p>
              </div>
        </div>
    </div>



{% endblock %}

{% block dropzoneJs %}
    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_options='
                thumbnailWidth: 200,
                thumbnailHeight: 200,
                thumbnailMethod: "crop",

                success: function(file, response) {
                    $("#getOutlineBtn").removeClass("gray-button");
                    $("#resetBtn").removeClass("gray-button");
                },

    ') }}

{% endblock %}