<!-- index.html -->
{% extends "base.html" %}

{% block dropzoneCss %}
    {{ dropzone.load_css() }}
{% endblock %}

{% block content %}
    <div>
        <h1 class="title-text" style="font-size:44px; margin-bottom:0px"> Fin edge detector</h1>
        <p class="body-text" style="font-size: 18px">Calculate the edge of the rear fin of any cetacean quickly and easily.</p>
    </div>
    <div>
            {{ dropzone.create(action='/uploads') }}

        <div style="width:100%; text-align:center; margin-top:24px">
            <button id="getOutlineBtn" class="default-button gray-button" type="button"><a style="text-decoration:none; color:white; font-size: 20px; user-select: nonemig" href="/get_outline">Get outline </a></button>
        </div>

    </div>

    <div>
        <h1 class="title-text" style="font-size:44px; margin-bottom:0px; margin-top:64px"> How to use Fin edge detector</h1>
        <p class="body-text" style="font-size: 18px">frase ancora da scegliere</p>

        <div class="row">
              <div class="column">
                    <img src="static/res/file-format.png" width="64px" height="64px"/>
                    <h2 class="title-text">Select a file</h2>
                    <p class="body-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
              </div>
              <div class="column">
                    <img src="static/res/file-format.png" width="64px" height="64px"/>
                    <h2 class="title-text">Get the outline</h2>
                    <p class="body-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
              </div>
              <div class="column">
                    <img src="static/res/file-format.png" width="64px" height="64px"/>
                    <h2 class="title-text">Download the outline</h2>
                    <p class="body-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
              </div>
        </div>
    </div>



{% endblock %}

{% block dropzoneJs %}
    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_options='
                thumbnailWidth: 200,
                thumbnailHeight: 200,
                thumbnailMethod: "crop",
                addRemoveLinks: true,

                success: function(file, response) {
                    $("#getOutlineBtn").removeClass("gray-button");
                },


                removedfile: function (file, data) {
                    $.ajax({
                        type:"POST",
                        url:"/deletefile",
                        success : function (data) {
                            $("#myDropzone").children().last().addClass("dz-deleted");
                            $("#myDropzone").removeClass("dz-max-files-reached");

                        }
                    });
                }
    ') }}

{% endblock %}