<!-- index.html -->
{% extends "base.html" %}

{% block dropzoneCss %}
    {{ dropzone.load_css() }}
    <style>
        .dropzone {
            border: 2px outline=black;
            margin: 4%;
            height: 200px;
            width: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    {{ dropzone.create(action='/uploads') }}


<button type="button"><a href="/get_outline">Get outline </a></button>

{% endblock %}

{% block dropzoneJs %}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
{% endblock %}