body {
    margin: unset !important;
}

.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

.li-navbar {
    float: left;
}

.li-navbar a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li-navbar a:hover {
    background-color: #ddd;
}

.active {
  background-color: #008CBA;
  color: white !important;
}