body {
    margin: unset !important;
}

.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

.li-navbar {
    float: left;
}

.li-navbar a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li-navbar a:hover {
    background-color: #ddd;
}

.active {
  background-color: #008CBA;
  color: white !important;
}

.dropzone {
    border: 1px dashed #008CBA;
    border-radius: 24px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    height: 100%;
    width: 75%;
    text-anchor: middle;
    text-align: center;

}

.dz-content{
    margin-top: 6%;
    margin-bottom: 6%;
}

.dz-message{
    font-family: 'Roboto Thin', sans-serif;
    color: #666;
    margin: unset !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.dz-message-icon{
    width: 48px;
    height: 48px;

}

.default-button{
    font-family: "Roboto", sans-serif;
    background-color: #0069BA;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 24px;
    width: 200px;
}

.gray-button{
    pointer-events: none;
    background-color: #a0a0a0;
}

.dz-link{
    font-family: "Roboto", sans-serif;
    color: #0069BA;
    text-decoration: underline;
    font-size: 18px;
}


.dz-link:hover {
    color: #1c9dff;
}

.default-button:hover {background-color: #005090
}

.dz-max-files-reached{
    pointer-events: none;
}

.dz-preview{
    pointer-events: all !important;
}


.dz-remove{
    font-family: "Roboto", sans-serif;
    color: #0069BA;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 6px;
}

.dz-remove:hover {
    color: #1c9dff;
}

.dz-deleted{
    display: none !important;
}

.dz-image{
    width: 200px !important;
    height: 200px !important;
}

.title-text{
    font-family: "Roboto Thin", sans-serif;
    text-align: center;
    color: #212121;
    font-size: 24px;
    font-weight: bold;
}

.subtitle-text{
    font-family: "Roboto Thin", sans-serif;
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}

.body-text{
    font-family: "Roboto Thin", sans-serif;
    text-align: center;
    color: #494949;
    font-size: 16px;
}

.image-container{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: fit-content;
    margin: 16px;
}
.image-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-container-content{
    padding: 2px 16px;
}

.output-image{
    width: 400px;
}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  margin:auto;
  width:300px !important;
  height: 300px !important; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}